<div>
  {{passenger|json}}

  <form #form="ngForm" novalidate>
    <div>
      Passenger Name:
      <input type="text" name="fullName" #fullName="ngModel" required [ngModel]="passenger?.fullName">
      <div *ngIf="fullName.errors && fullName.dirty" class="error">
        Passenger id is required
      </div>
    </div>
    <div>
      passenger ID:
      <input type="number" name="id" [ngModel]="passenger?.id" #id="ngModel" required>
      <div *ngIf="id.errors && id.dirty" class="error">
        Passenger id is required
      </div>
    </div>
    <div>
      <label>
        <input type="checkbox" name="checkedIn" [ngModel]="passenger.checkedIn"
               #checkbox
               (ngModelChange)="toggleChange($event)"> checkedIn
      </label>
    </div>
    <div *ngIf="form.value.checkedIn">

      <input type="date" name="checkInDate" [ngModel]="passenger?.checkInDate|date:'yyyy-MM-dd'">
    </div>
    {{form.valid}}
    {{form.value|json}}{{form.value.checkInDate|date}}
  </form>
</div>
