.app {
  display: block;
}

.status {
  width: 15px;
  height: 15px;
  display: block;
  margin: 0px 10px 0px 10px;
  float: left;
  border-radius: 50%;

  &.checked-in {
    background: #2ecc71;
  }

  &.checked-out {
    background-color: red;
  }
}
